@model InnowiseFridgeClient.ViewModels.FridgeViewModel

@{
 
}

<h1>Add fridge</h1>

<form asp-action="Add">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FridgeModelName" class="control-label"></label>
        <input asp-for="FridgeModelName" class="form-control"/>
        <span asp-validation-for="FridgeModelName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input class="btn btn-outline-success float right" type="submit" value="Log in"/>
        <a class="btn btn-outline-secondary" asp-controller="User" asp-action="Index">Cancel</a>
    </div>
</form>
