@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Это учебный проект холодильника, который я создавал согласно тестовому задания для компании Innowise Group</h2>
    <h3>На главной стрнаице должна быть некоторая информация по условия задания. Думаю этого хватит. </h3>
    <h3>Также вот кнопка для вызова API запроса, который вызывает в бд встроенную процедуру, которая анализирует 
        все поля для продктов в холодильнике, где их количество равно 0, и затем оно будет заменяться дефолтное количество</h3>
    <button></button>
</div>