@model InnowiseFridgeClient.ViewModels.RegistrationViewModel

@{
}

<h1>Registration</h1>

<form asp-action="Registration">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control"/>
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword" class="control-label"></label>
            <input asp-for="ConfirmPassword" class="form-control"/>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    <div class="form-group">
        <input class="btn btn-outline-success float right" type="submit" value="Log in"/>
        <a class="btn btn-outline-secondary" asp-controller="User" asp-action="Index">Cancel</a>
    </div>
</form>